### Collaborative Filtering

Dataset used here is the movielens 1m dataset and can be found [here](https://grouplens.org/datasets/movielens/1m/)

### 1. Loading necessary libraries

In [6]:
import os
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
os.chdir(r'C:\Users\stone\Documents\Python_Scripts\ML_codes\my_recommender\ml-1m')
os.listdir()

['movies.dat', 'ratings.dat', 'README', 'users.dat']

### 2. Reading the data

In [11]:
movies=pd.read_table('movies.dat',sep='::',header=None,names=['movie_id','title','genre'],engine='python')
users=pd.read_table('users.dat',sep='::',header=None,names=['user_id','gender','age','occupation','zipcode'],engine='python')
ratings=pd.read_table('ratings.dat',sep='::',header=None,names=['user_id','movie_id','rating','timestamp'],engine='python')
movies.head()

   movie_id                               title                         genre
0         1                    Toy Story (1995)   Animation|Children's|Comedy
1         2                      Jumanji (1995)  Adventure|Children's|Fantasy
2         3             Grumpier Old Men (1995)                Comedy|Romance
3         4            Waiting to Exhale (1995)                  Comedy|Drama
4         5  Father of the Bride Part II (1995)                        Comedy

In [12]:
users.head()

   user_id gender  age  occupation zipcode
0        1      F    1          10   48067
1        2      M   56          16   70072
2        3      M   25          15   55117
3        4      M   45           7   02460
4        5      M   25          20   55455

In [13]:
ratings.head()

   user_id  movie_id  rating  timestamp
0        1      1193       5  978300760
1        1       661       3  978302109
2        1       914       3  978301968
3        1      3408       4  978300275
4        1      2355       5  978824291

### 3. EDA